@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Welcome on this test</h1>
</div>
<div id="rendering" class="container ">
    <div class="row">
        <div class="border-bottom mb-2 col-3 cursor-hover" onclick="OrderString('name')">Name </div>
        <div class="border-bottom mb-2 col-3 cursor-hover" onclick="OrderNumbers('height')">Height </div>
        <div class="border-bottom mb-2 col-3 cursor-hover" onclick="OrderNumbers('mass')">Mass </div>
        <div class="border-bottom mb-2 col-3 cursor-hover" onclick="OrderListCount('films')">Films count </div>
    </div>


</div>